* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background: #333;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.logobox {
    padding-left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo {
  width: 170px;

}


nav {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-right: 60px;
    
}

nav ul {
    list-style: none;
    display: flex;
    height: 70px;   
}

.botoes {
    display: flex;
    font-family: "montserrat",sans-serif;
    justify-content: center;
    align-items: center;
    transition: 500ms; 
    margin: 0 10px 0 10px;
}

 nav ul li a {
    color: #a6abb6;
    text-decoration: none;
    text-align: center;
    transition: 1000ms;
    padding: 20px 2px 20px 2px;
 }

 nav ul li:hover {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 16px 11px rgba(0, 0, 0, 0.5);

 }

 nav ul li a:hover {
    color: #09e85e;
 }

 .contato {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px 0 5px;
    background-color: #fff;
    height: 55px;
    width: 125px;
    border-radius: 10px;
    transition: 500ms;
 }

 .contato a {
    width: 125px;
    padding: 22px 0 22px 0;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #333;
    font-family: "montserrat";
 }

 .contato:hover {
    box-shadow: 1px 1px 15px 1px #09e85e;
 }


